 /* UTILITIES */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
}

.sketchfab-embed-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}